name: build
on:
  pull_request:
  push:
      branches:
        - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [3.2, 3.3, 3.4]
    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: 'false'
      - uses: ruby/setup-ruby@v1
      - run: bundle install
      - run: bundle exec appraisal install
      - run: bundle exec appraisal rake
